Repository flepied/second-brain-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pylint, poetry-check, poetry-lock, poetry-export

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true

repos:

  - repo: local
    hooks:
      - id: pytest-check
        name: Pytest checks
        entry: poetry run pytest
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args:
          - "--profile"
          - "black"

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args:
          - "--exclude-file=poetry.lock"

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.12
    hooks:
      - id: pymarkdown
        args: ["-d", "md014,md013", "scan"]

  - repo: local
    hooks:
      - id: poetry-pylint
        name: Pylint checks
        entry: poetry run pylint
        pass_filenames: true
        language: system
        files: ".*\\.py$"
        exclude: "htmlTemplates\\.py|test.*\\.py"

  - repo: local
    hooks:
      - id: poetry-check
        name: Poetry check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject.toml$

      - id: poetry-lock
        name: Poetry lock
        description: run poetry lock to update lock file
        entry: poetry lock --no-update
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject.toml$

      - id: poetry-export
        name: Poetry export
        description: run poetry export to sync lock file with requirements.txt
        entry: poetry export -f requirements.txt -o requirements.txt
        language: python
        pass_filenames: false
        files: ^poetry.lock$

...

use a chromadb server
  .pre-commit-config.yaml
  Makefile
  compose.yaml
  lib.py
  sba-txt-service.sh
  second_brain_agent.py
  similarity.py
  transform_txt.py
Due: poetry-pylint

add a Github action to run all the pre-commit checks
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-check, poetry-lock, poetry-export

add integration tests to the run-tests Github action
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  integration-test.sh
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock, poetry-export

Display the document sources at the end of the answer
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  integration-test.sh
  lib.py
  qa.py
  second_brain_agent.py
Due: poetry-pylint

bump version to 0.3.0
  pyproject.toml
Due: poetry-check, poetry-lock

ui: display the question from the user before the answer from the agent
  pyproject.toml
  screenshot.png
  second_brain_agent.py
Due: poetry-pylint, poetry-check, poetry-lock

check content to avoid re-indexing
  compose.yaml
  integration-test.sh
  lib.py
  poetry.lock
  transform_md.py
Due: poetry-pylint, poetry-export

transform_md.py: check if secondary content (url, pdf, youtube) has changed
  integration-test.sh
  transform_md.py
Due: poetry-pylint

README: update the description of the requirements
  README.md
Due: none

add last_accessed_at metadata
  lib.py
  poetry.lock
  pyproject.toml
  transform_md.py
  transform_txt.py
Due: poetry-pylint, poetry-check, poetry-lock, poetry-export

inherit metadata from the markdown header
  .pre-commit-config.yaml
  compose.yaml
  integration-test.sh
  poetry.lock
  pyproject.toml
  transform_md.py
Due: poetry-pylint, poetry-check, poetry-lock, poetry-export

README: added badges for 100builders and Artizen
  .pre-commit-config.yaml
  README.md
Due: none

bump to 0.4.0
  pyproject.toml
Due: poetry-check, poetry-lock

update deps
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock, poetry-export

updated deps
  compose.yaml
  poetry.lock
Due: poetry-export

split according to history data
  README.md
  sba-md-service.sh
  transform_md.py
Due: poetry-pylint

bump to 0.5.0
  pyproject.toml
Due: poetry-check, poetry-lock

various fixes
  README.md
  integration-test.sh
  lib.py
  similarity.py
  transform_md.py
  transform_txt.py
Due: poetry-pylint

bump to 0.4.1
  pyproject.toml
Due: poetry-check, poetry-lock

transform markdown and mp3
  integration-test.sh
  poetry.lock
  pyproject.toml
  transform_md.py
Due: poetry-pylint, poetry-check, poetry-lock, poetry-export

add the smart_connection.py script
  README.md
  integration-test.sh
  lib.py
  smart_connections.py
  transform_md.py
Due: poetry-pylint

add support for deleting files
  integration-test.sh
  monitor.sh
  transform_md.py
  transform_txt.py
Due: poetry-pylint

bump version to 0.5.0
  example.env
  pyproject.toml
Due: poetry-check, poetry-lock

enable caching in the Github action
  .github/workflows/pr.yml
Due: none

filter out email adresses
  second_brain_agent.py
Due: poetry-pylint

update deps
  compose.yaml
  lib.py
  poetry.lock
Due: poetry-pylint, poetry-export

use podman-compose and systemctl --user
  .pre-commit-config.yaml
  install-systemd-services.sh
  sba-txt-service.sh
Due: none

updated deps as of 20231028
  integration-test.sh
  poetry.lock
Due: poetry-export

fix filtering
  README.md
  lib.py
  qa.py
  similarity.py
Due: poetry-pylint

filter out file:// for terminal based qa.py
  lib.py
Due: poetry-pylint

set the refered for notes to be itsef to easy query later
  transform_txt.py
Due: poetry-pylint

updated deps as of 20231104
  poetry.lock
Due: poetry-export

use different LLM chains according to the intent behind the question
  .pre-commit-config.yaml
  README.md
  extractors.py
  lib.py
  qa.py
Due: poetry-pylint

updated deps to avoid the error: The model has been deprecated
  extractors.py
  lib.py
  poetry.lock
  pyproject.toml
Due: poetry-pylint, poetry-check, poetry-lock, poetry-export

README.md: fix journalctl command lines
  README.md
Due: none

updated deps
  compose.yaml
  poetry.lock
  transform_md.py
Due: poetry-pylint, poetry-export

0.6.0
  pyproject.toml
Due: poetry-check, poetry-lock

update to chromadb 0.5.0
  compose.yaml
  poetry.lock
Due: poetry-export
